@page "/schools"
@using DailyPmsSecuredClient.Components

<style>
    body {
        background-color: @CustomColors.TERTIARY;
        background-image: url(Images/bg_04.png);
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<h1>Ecoles du réseau</h1>

<br />
<br />

<SchoolSummariesList />

@code {

}

