@page "/editSchool/{SchoolId}"
@using DailyPmsSecuredClient.Components
@inject ISchoolService SchoolService

<style>
    body {
        background-color: @CustomColors.TERTIARY;
        background-image: url(Images/bg_04.png);
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<MudPaper Elevation="0" Class=" py-2 mb-14 mx-4 rounded-pill d-flex justify-center" Style="width: 350px; height: 60px; background-image: linear-gradient(90deg, #F8CECE, #FBF0EF);">
    <MudIcon Class="my-1 mr-2" Icon="@Icons.Material.Filled.AccountBalance" Size="Size.Large" Style="color: #FFFFFF;" Align-content="Align.Center" />
    <MudText Style="font-size: 30px; font-weight: lighter; color: #FFFFFF;" Align="Align.Center">Modifier l'école</MudText>
</MudPaper>

@if (currentSchool == null)
{
    <MudProgressCircular Class="mt-2" Color="Color.Primary" Indeterminate="true" />
}
else
{
    <div class="mx-4">
        <SchoolForm SchoolToEdit="@currentSchool" />
    </div>
}

@code {
    [Parameter]
    public string SchoolId { get; set; }

    School currentSchool;

    protected override async Task OnInitializedAsync()
    {
        currentSchool = await SchoolService.GetSchoolByIdAsync(SchoolId);
    }
}

